@model Lab04.Models.ChiTietDonDatHang

@{
    ViewBag.Title = "Chi tiết Chi tiết Đơn đặt hàng";
}

<h2>Chi tiết Đơn đặt hàng</h2>

<p><strong>Số ĐH:</strong> @Model.SoDH</p>
<p><strong>Mã Sách:</strong> @Model.MaSach</p>
<p><strong>Số lượng:</strong> @Model.SoLuong</p>
<p><strong>Đơn giá:</strong> @Model.DonGia</p>

<p>@Html.ActionLink("Quay lại", "Index")</p>
